<h1>Editing payroll entry</h1>

<%= render "form", payroll_entry: @payroll_entry %>

<br>

<div>
  <%= link_to "Show this payroll entry", @payroll_entry %> |
  <%= link_to "Back to payroll entries", payroll_entries_path %>
</div>
