<div id="<%= dom_id payroll_period %>">
  <p>
    <strong>Start date:</strong>
    <%= payroll_period.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= payroll_period.end_date %>
  </p>

</div>
