<h1>Editing payroll period</h1>

<%= render "form", payroll_period: @payroll_period %>

<br>

<div>
  <%= link_to "Show this payroll period", @payroll_period %> |
  <%= link_to "Back to payroll periods", payroll_periods_path %>
</div>
